@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-light: #f5f0e6;
    --color-brand: #d8ccb6;
    --color-brand-dark: #2c2a26;
    --color-brand-accent: #b87d4b;
    --color-brand-olive: #5c6448;
}

body {
    background-color: var(--color-brand-light);
    color: var(--color-brand-dark);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}